@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.main-home{
    background-color: black;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#FF8B72, #FF7472);
}

.main-home-background{
    background-image: url('../images/Crunch_logo.png');
    background-size: 375px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-x: 800px;
    background-position-y:center;
    width: 100%;
    height: 100%;
}

.main-home-circle{
    height: 100%;
    width: 100%;
    background-image: url('../images/Circle\ 3.png'), url('../images/Circle\ 3.png'), url('../images/Circle\ 3.png');
    background-repeat: no-repeat;
    background-size: 250px, 200px, 225px;
    background-position-x: 0px, 500px, 800px;
    background-position-y: 500px, 50px, 600px;
}

.home-first-div{
    padding: 90px;
    padding-top: 300px;
    height: 100%;
    width: 70%;
}

.home-first-div h1{
    font-size: 70px;
    font-weight: 600;
    color: black;
    font-family: 'Inter', sans-serif;
}

.home-first-div p{
    font-size: 40px;
    font-weight: 400;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
