.user-dashboard-main-stage-four{
    height: 100vh;
    width: 100%;
    grid-column: 2 / span 1;
    grid-row: 1/ span 1;
    background-image: url('../images/wave.png');
    background-repeat: repeat-x;
    background-position-y: bottom;
    padding-left: 0px;
    padding-right: 0px;
}

.item-list{
    overflow-y: hidden;
    overflow-x: scroll;
}

.item-list::-webkit-scrollbar {
    display: none;
  }

.manual{
    margin-top: 60px;
    margin-bottom: 60px;
}

.user-dashboard-main-form-stage-four{
    height: 100%;
    padding: 60px;
    padding-left: 100px;
    margin: auto;
}

.submit-btn {
    margin: auto;
}