
.logo-img {
    width: 150px;
    align-self: center;
}

.group-total-text {
    color: #F36D6D;
}


.user-tabs-stage5 {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.user-tabs-stage5::-webkit-scrollbar {
    display: none;
}

.bottom-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

/* .confirm-btn {
    width: 120px;
    align-self: center;
} */